/*
    välj vilka färger du vill ha på miniräknaren här - använd alltid variabelnamnet 
    fg: foreground
    bg: background
    line: line color
*/

:root {
    --fg-clr-normal: #111;          /* standard för text */    
    --bg-clr-light: gainsboro;
    --bg-clr-gray: darkgray;
    --bg-clr-iceblue: aliceblue;
    --line-clr-blue: lightblue;
    --line-clr-darkgray: rgb(50, 93, 107);
}


/* för hela sajten */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* global styling */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    background-color: var(--bg-clr-iceblue);
    border: 2px solid var(--line-clr-blue);
    box-shadow: .125rem .125rem .125rem var(--bg-clr-gray);
    min-width: 20%;
    min-height: 35%;
    padding: 1rem;
}

.calc-btn {
    height: auto;
    width: auto;
    font-size: clamp(1rem, 1.5vw, 2rem);
    
}   

.calc-screen {
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(.55rem, 3vw, 3.5rem);
    box-shadow: inset 1px 1px 0px var(--bg-clr-gray);
    width: 100%;
    height: clamp(1rem, 3vw, 4rem);
    border: 1px solid var(--line-clr-darkgray);
    background: var(--bg-clr-light);
    color: var(--fg-clr-normal);
    padding: .125rem;
}


/* specifikt för grid */

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-4 {
    grid-column: span 4;
}
